<left>
  <a class="github-button" href="https://github.com/zeissholic/oraclemigrationhol"><h3 class="github-title">OracleMigrationHol</h3></a>
 
  <br>
  <!-- If your website use cookie , add links below -->  
  <!-- <script src="{{"js/shortbreadv1.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script> -->

  <a href="https://aws.amazon.com/ko/privacy/">Privacy</a> | <a href="https://aws.amazon.com/terms/">Site terms</a> | © 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.
  <!-- If your website use cookie , add links below next to site terms -->  
  <!-- <a href="javascript:AWSCShortbread().customizeCookies()">Cookie preferences</a>  --> 

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>  